In [1]:
from appgeopy import *
from my_packages import *

pd.set_option("display.max_columns", 999)
pd.set_option("display.max_rows", 999)

In [2]:
def string_to_float_converter(value):
    """
    Convert string value to float, and handle invalid or missing values.

    Args:
        value (str): Input value in string format.

    Returns:
        float: Converted value in float format or NaN if value is invalid or missing.
    """
    try:
        converted_value = float(value)
    except:
        if "*" in value:
            converted_value = np.nan
        else:
            value = value[:-1]
            converted_value = float(value)

    return converted_value


def find_month_indices(series):
    """
    Detect the indices in a pandas Series where the values contain the first three letters of any month.

    Args:
    series (pd.Series): The pandas Series to search.

    Returns:
    list: A list of indices where the Series contains the first three letters of any month.
    """
    # List of the first three letters of each month
    month_abbrs = [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec",
    ]

    # Find the indices where any of the month abbreviations appear
    indices = [
        i
        for i, value in series.items()
        if any(month in str(value) for month in month_abbrs)
    ]

    return indices


def find_station_info_indices(series):
    """
    Detect the indices in a pandas Series where the values contain station information keywords.

    Args:
    series (pd.Series): The pandas Series to search.

    Returns:
    list: A list of indices where the Series contains station information keywords.
    """
    # List of station information keywords
    station_info_abbrs = ["流域編號", "測站編號", "流域名稱", "河流名稱", "測站名稱"]

    # Find the indices where any of the station information keywords appear
    indices = [
        i
        for i, value in series.items()
        if any(info in str(value) for info in station_info_abbrs)
    ]

    return indices


def get_station_info(input_dataframe):
    """
    Extract station information from the input DataFrame.

    Args:
    input_dataframe (pd.DataFrame): The pandas DataFrame to extract information from.

    Returns:
    list: A list containing basin number, basin name, tributary, station number, and station name.
    """
    (
        basin_num_idx,
        station_number_idx,
        basin_name_idx,
        tributary_idx,
        station_name_idx,
    ) = find_station_info_indices(input_dataframe.iloc[0, :])

    basin_number = input_dataframe.iloc[1, basin_num_idx]
    basin_name = input_dataframe.iloc[1, basin_name_idx]
    tributary = input_dataframe.iloc[1, tributary_idx]
    station_number = input_dataframe.iloc[1, station_number_idx]
    station_name = input_dataframe.iloc[1, station_name_idx]

    return [basin_number, basin_name, tributary, station_number, station_name]

In [4]:
# Define the folder paths
savefolder = r"D:\002_DATA\__RIVER_STAGE\PROCESSED_DATA"  # Folder where processed data will be saved

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

fpath = r"D:\002_DATA\__RIVER_STAGE\RAW_DATA\2021_River runoff_North.xlsx"

# Extract processing year and region from the file name
processing_year = int(os.path.basename(fpath).split("_")[0])
region = os.path.basename(fpath).split("_")[-1].split(".")[0].upper()

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
select_sheetname = "Table 18"
df = pd.read_excel(fpath, sheet_name=select_sheetname, header=None)

In [5]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,流域編號\nBasin No.,NaN,測站編號\nStation No.,NaN,NaN,NaN,流域名稱\nBasin,NaN,NaN,河流名稱\nTributary,NaN,NaN,NaN,測站名稱\nStation,NaN,NaN,NaN,流域面積Km²\nDrainage Area,NaN,NaN
1,1140,NaN,H097,NaN,NaN,NaN,淡水河,NaN,NaN,??魚堀溪,NaN,NaN,NaN,大林橋,NaN,NaN,NaN,0.9,NaN,NaN
2,114,NaN,97,NaN,NaN,NaN,Danshui River,NaN,NaN,Beishi River,NaN,NaN,NaN,DA-LINE,NaN,NaN,NaN,NaN,NaN,NaN
3,Month 月\nDay 日,一 月\nJan.,NaN,二 月\nFeb.,NaN,三 月\nMar.,NaN,四 月\nApr.,五 月\nMay,NaN,六 月\nJune,七 月\nJuly,八 月\nAug.,NaN,九 月\nSept.,NaN,十 月\nOct.,NaN,十一月\nNov.,十二月\nDec.
4,1,171.93,NaN,171.81,NaN,171.8,NaN,171.78,171.94,NaN,172.4,171.87,172.14,NaN,171.81,NaN,171.81,NaN,171.95,172.18
5,2,171.91,NaN,171.8,NaN,171.8,NaN,171.77,171.9,NaN,172.43,171.85,172.03,NaN,171.8,NaN,171.81,NaN,171.93,172.09
6,3,171.9,NaN,171.8,NaN,171.81,NaN,171.76,171.88,NaN,172.42,171.84,172.3,NaN,171.82,NaN,171.79,NaN,171.92,172.03
7,4,171.9,NaN,171.79,NaN,171.8,NaN,171.76,171.86,NaN,173.02,171.82,172.53,NaN,171.79,NaN,171.78,NaN,171.94,171.98
8,5,171.96,NaN,171.79,NaN,171.79,NaN,171.76,171.84,NaN,172.85,171.82,172.35,NaN,171.78,NaN,171.85,NaN,171.97,171.99
9,6,172.08,NaN,171.78,NaN,171.78,NaN,171.75,171.83,NaN,172.61,171.82,172.2,NaN,171.78,NaN,171.93,NaN,171.94,171.97
10,7,172.22,NaN,171.78,NaN,171.9,NaN,171.74,171.81,NaN,172.32,171.8,172.49,NaN,171.79,NaN,171.9,NaN,171.91,172.25
11,8,172.29,NaN,171.78,NaN,171.9,NaN,171.74,171.8,NaN,172.18,171.79,172.55,NaN,171.77,NaN,171.88,NaN,172.04,172.15
12,9,172.26,NaN,171.8,NaN,171.88,NaN,171.76,171.8,NaN,172.09,171.78,172.29,NaN,171.76,NaN,171.89,NaN,172.09,172.09
13,10,172.13,NaN,171.99,NaN,171.86,NaN,171.76,171.78,NaN,172.04,171.78,172.18,NaN,171.76,NaN,171.9,NaN,172.02,172.07
14,11,172.12,NaN,172.27,NaN,171.9,NaN,171.76,171.78,NaN,171.98,171.77,172.12,NaN,171.81,NaN,172.62,NaN,171.97,172.1
15,12,172.18,NaN,172.35,NaN,171.88,NaN,171.76,171.77,NaN,171.96,171.76,172.05,NaN,172.8,NaN,173.03,NaN,171.94,172.06
16,13,172.12,NaN,172.53,NaN,171.86,NaN,171.75,171.76,NaN,172.02,171.76,172.08,NaN,172.65,NaN,172.93,NaN,171.99,172.17
17,14,172.05,NaN,172.31,NaN,171.84,NaN,171.75,171.75,NaN,171.95,171.75,172.06,NaN,172.24,NaN,172.86,NaN,172,172.19
18,15,172,NaN,172.14,NaN,171.83,NaN,171.76,171.75,NaN,171.91,171.75,171.99,NaN,172.1,NaN,172.46,NaN,171.98,172.12
19,16,171.95,NaN,172.04,NaN,171.81,NaN,171.76,171.74,NaN,171.88,171.74,171.96,NaN,172.02,NaN,172.38,NaN,171.95,172.06
20,17,171.95,NaN,172.02,NaN,*,NaN,171.75,171.73,NaN,171.86,171.74,172.03,NaN,172.01,NaN,172.81,NaN,171.94,172.02
21,18,171.91,NaN,171.97,NaN,171.8,NaN,171.75,171.74,NaN,171.84,171.73,172.2,NaN,171.97,NaN,172.47,NaN,171.92,171.99
22,19,171.89,NaN,171.94,NaN,171.8,NaN,171.74,171.77,NaN,171.83,171.73,172.27,NaN,171.93,NaN,172.26,NaN,171.91,171.96
23,20,171.89,NaN,171.91,NaN,171.78,NaN,171.74,171.78,NaN,171.84,171.78,172.19,NaN,171.9,NaN,172.15,NaN,171.97,171.94
24,21,171.88,NaN,171.88,NaN,171.79,NaN,171.73,171.73,NaN,171.82,171.79,172.07,NaN,171.88,NaN,172.03,NaN,172.12,171.92
25,22,171.86,NaN,171.86,NaN,171.81,NaN,172.22,171.73,NaN,171.9,172.55,171.99,NaN,171.87,NaN,172.2,NaN,172.05,171.94
26,23,171.88,NaN,171.85,NaN,171.83,NaN,172.1,171.72,NaN,172.12,173.14,171.95,NaN,171.85,NaN,172.33,NaN,172.07,171.94
27,24,171.86,NaN,171.83,NaN,171.84,NaN,171.99,172.06,NaN,172.23,173.89,171.93,NaN,171.86,NaN,172.33,NaN,172.05,171.92
28,25,171.85,NaN,171.82,NaN,171.82,NaN,171.92,172.15,NaN,172.1,172.6,171.93,NaN,172,NaN,172.42,NaN,172.01,171.97
29,26,171.84,NaN,171.81,NaN,171.81,NaN,171.89,172,NaN,172.01,172.28,171.93,NaN,171.91,NaN,172.34,NaN,172.1,172.12
30,27,171.84,NaN,171.81,NaN,171.8,NaN,171.86,171.93,NaN,171.99,172.13,171.88,NaN,171.87,NaN,172.2,NaN,172.36,172.15
31,28,171.84,NaN,171.8,NaN,171.79,NaN,171.87,171.89,NaN,171.99,172.04,171.86,NaN,171.85,NaN,172.11,NaN,172.53,172.12
32,29,171.84,NaN,NaN,NaN,171.78,NaN,172.04,171.86,NaN,171.94,172,171.85,NaN,171.83,NaN,172.04,NaN,172.43,172.06
33,30,171.83,NaN,NaN,NaN,171.78,NaN,*,171.98,NaN,171.9,171.95,171.83,NaN,171.82,NaN,172,NaN,172.3,172
34,31,171.82,NaN,NaN,NaN,171.81,NaN,NaN,172.39,NaN,NaN,172.04,171.83,NaN,NaN,NaN,171.96,NaN,NaN,171.96
35,上旬平均\n1 st 10-day,172.06,NaN,171.81,NaN,171.83,NaN,171.76,171.84,NaN,172.44,171.82,172.31,NaN,171.79,NaN,171.85,NaN,171.97,172.08
36,中旬平均\n2 nd 10-day,172.01,NaN,172.15,NaN,*,NaN,171.75,171.76,NaN,171.91,171.75,172.1,NaN,172.14,NaN,172.6,NaN,171.96,172.06
37,下旬平均\n3 rd 10-day,171.85,NaN,171.83,NaN,171.8,NaN,*,171.95,NaN,172,172.4,171.91,NaN,171.87,NaN,172.18,NaN,172.2,172.01
38,月平均\nMo. Avg,171.97,NaN,171.93,NaN,*,NaN,*,171.85,NaN,172.12,171.99,172.11,NaN,171.93,NaN,172.21,NaN,172.04,172.05
39,年度統計 Annual Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,平均水位\nAverage Level,NaN,NaN,NaN,最大瞬時水位\nMax. Peak Level,NaN,NaN,NaN,NaN,NaN,最大日平均\nMax. Daily,NaN,NaN,NaN,NaN,最小日平均\nMin. Daily,NaN,NaN,NaN,NaN
41,*,NaN,NaN,NaN,175.56 @,NaN,NaN,NaN,NaN,NaN,173.89 @,NaN,NaN,NaN,NaN,171.72 @,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,2021/6/4 下午05:00:00,NaN,NaN,NaN,NaN,NaN,(2021/7/24),NaN,NaN,NaN,NaN,(2021/5/23),NaN,NaN,NaN,NaN
43,歷年統計資料(自2005年至2021年，統計年數：16) Statistics For Re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,月平均\nMo. Avg,171.85,NaN,171.87,NaN,171.96,NaN,-7113.16,171.93,NaN,171.97,171.9,171.92,NaN,171.98,NaN,172.05,NaN,171.95,171.98
45,月最大平均\nMo. Avg Max,172.12\n2016,NaN,172.24\n2008,NaN,172.11\n2016,NaN,172.10\n2008,172.22\n2014,NaN,172.35\n2017,172.17\n2016,172.37\n2015,NaN,172.41\n2016,NaN,172.40\n2016,NaN,172.20\n2017,172.29\n2020
46,月最小平均\nMo. Avg Min,170.63\n2005,NaN,170.81\n2005,NaN,171.82\n2018,NaN,-79964.31\n2005,170.95\n2005,NaN,170.73\n2005,170.70\n2005,170.89\n2005,NaN,170.93\n2005,NaN,170.85\n2005,NaN,170.71\n2005,171.15\n2005
47,平均水位\nAvg. Annual R.,NaN,最大年平均\nMax. Annual,NaN,NaN,最小年平均\nMin. Annual,NaN,NaN,最大瞬時水位\nMax. Peak Level,NaN,NaN,NaN,NaN,最大日平均\nMax. Daily,NaN,NaN,NaN,最小日平均\nMin. Daily,NaN,NaN
48,172.05,NaN,172.13\n(2016),NaN,NaN,171.97\n(2018),NaN,NaN,177.16@\n2015/8/8 上午07:00:00,NaN,NaN,NaN,NaN,174.98 @ (2005/12/10),NaN,NaN,NaN,168.34@ (2011/1/20),NaN,NaN

In [14]:
def remove_newline(input_string):
    input_string = str(input_string)
    return input_string.split("\n")[0] if "\n" in input_string else input_string


def remove_space(input_string):
    input_string = str(input_string)
    return input_string.split(" ")[0] if "\n" in input_string else input_string


def remove_questionmark(input_string):
    input_string = str(input_string)
    return (
        input_string.replace("?", "") if "?" in input_string else input_string
    )

In [15]:
# Extract station information from the DataFrame
(
    basin_number,
    basin_name,
    tributary,
    station_number,
    station_name,
) = get_station_info(df)

basin_number = remove_newline(basin_number)
basin_name = remove_newline(basin_name)
tributary = remove_newline(tributary)
tributary = remove_questionmark(tributary)
station_number = remove_space(station_number)
station_name = remove_newline(station_name)

basin_number, basin_name, tributary, station_number, station_name

('1140', '淡水河', '魚堀溪', 'H097', '大林橋')

In [ ]:
# Find the first day index in the DataFrame
_temp = df.iloc[:, 0]
first_day_idx = _temp[_temp == 1].index[0]
first_day_idx

In [ ]:
# Define the folder path where the processed data will be saved
target_savefolder = os.path.join(
    savefolder,
    f"{region}",
    f"{basin_number}_{basin_name}",
    f"{tributary}",
    f"{processing_year}",
)
if not os.path.exists(target_savefolder):
    os.makedirs(target_savefolder)  # Create the folder if it doesn't exist

# Find the first day index in the DataFrame
_temp = df.iloc[:, 0]
first_day_idx = _temp[_temp == 1].index[0]

# Find the indices of the columns that contain month names
row_contain_months = df.iloc[3, :]
months_index = find_month_indices(row_contain_months)

# if len(months_index) == 12:
#     cache_data = {"time": [], "daily_value": []}

#     # Loop through each month and extract daily values
#     for k, month_index in enumerate(months_index):
#         this_month = k + 1

#         start_date = pd.Timestamp(year=processing_year, month=this_month, day=1)
#         end_date = start_date + pd.offsets.MonthEnd(1)
#         days_in_month = pd.date_range(start=start_date, end=end_date, freq="D")
#         N = len(days_in_month)
#         values = df.iloc[first_day_idx : first_day_idx + N, month_index].apply(string_to_float_converter)

#         cache_data["time"].extend(days_in_month)
#         cache_data["daily_value"].extend(values)

#     # Create a new DataFrame for the extracted data and save it to an Excel file
#     new_datatable = pd.DataFrame(data=cache_data)

#     savepath = os.path.join(target_savefolder, f"{station_number}_{station_name}.xlsx")
#     new_datatable.to_excel(savepath, index=False)