In [1]:
from my_packages import *

In [24]:
def convert_MATLABtime_2string(matlab_datenum):
    """
    Convert a MATLAB datenum to a Python datetime object.
    
    Parameters:
    - matlab_datenum (float): MATLAB datenum value (e.g., 739085)
    
    Returns:
    - datetime.datetime: Corresponding Python datetime object
    """
    # MATLAB's epoch reference date (0000-01-01)
    matlab_epoch = datetime(1, 1, 1)
    
    # Subtract 366 days to align MATLAB datenum with Python's Gregorian calendar
    adjusted_days = matlab_datenum - 366
    
    # Convert to Python datetime
    python_datetime = matlab_epoch + timedelta(days=adjusted_days)
    
    return python_datetime.strftime("%Y%m%d")

In [14]:
df = pd.read_csv(r"D:\SharedFolder\ISCE_Mintpy\TSX_Run014_PS002\TSX_ref2DNAN_incangle.csv", nrows=10)

columns = ["LON", "LAT", "INC_rad", "VEL_mm_yr"] + df.iloc[0,4:].apply(convert_MATLABtime_2string).tolist()
df.head(3)

,export_res_1,export_res_2,export_res_3,export_res_4,export_res_5,export_res_6,export_res_7,export_res_8,export_res_9,export_res_10,...,export_res_24,export_res_25,export_res_26,export_res_27,export_res_28,export_res_29,export_res_30,export_res_31,export_res_32,export_res_33
0,120.4480,23.67380,NaN,NaN,738963.000000,738974.000000,738985.000000,738996.000000,739007.000000,739018.000000,...,739249.000000,739271.00000,739293.000000,739315.000000,739337.000000,739414.000000,739436.000000,739458.000000,739480.00000,739502.000000
1,120.2394,23.56251,0.391202,10.21811,6.072596,-0.688337,-9.835482,1.643992,-5.194050,-6.391303,...,10.746620,17.14589,10.192580,8.214103,4.024621,-1.625264,8.124623,8.313525,10.12618,6.537508
2,120.2386,23.56268,0.391367,8.58505,7.213810,3.597207,-10.316040,2.499204,-3.430067,-3.026646,...,7.215156,12.41939,9.621606,6.642648,2.342526,-0.326513,8.266220,10.246020,14.42375,7.646904

['20230319',
 '20230330',
 '20230410',
 '20230421',
 '20230502',
 '20230513',
 '20230604',
 '20230615',
 '20230626',
 '20230707',
 '20230729',
 '20230809',
 '20230820',
 '20230831',
 '20230911',
 '20231003',
 '20231025',
 '20231116',
 '20231208',
 '20231230',
 '20240121',
 '20240212',
 '20240305',
 '20240327',
 '20240612',
 '20240704',
 '20240726',
 '20240817',
 '20240908']