In [20]:
from appgeopy import *
from my_packages import *
pd.set_option("display.max_columns", 500)
pd.set_option("display.max_rows", 500)

In [2]:
old_data_fpath = r"D:\1000_SCRIPTS\003_Project002\20241016_MLCW_to_HDF5\XZ_to_Excel\xiutan_秀潭.xlsx"
new_data_fpath = r"Xiutan_NewData.xlsx"

In [10]:
old_well_df = pd.read_excel(old_data_fpath, index_col=[0], parse_dates=[0])
print(old_well_df.shape)
old_well_df.head(3)

(149, 25)

,NO1_1.75 m,NO2_4.745 m,NO3_9.824 m,NO4_24.787 m,NO5_35.303 m,NO6_51.297 m,NO7_63.802 m,NO8_81.289 m,NO9_96.705 m,NO10_110.667 m,...,NO16_202.242 m,NO17_211.885 m,NO18_223.563 m,NO19_236.147 m,NO20_248.117 m,NO21_255.605 m,NO22_275.057 m,NO23_282.504 m,NO24_296.044 m,NO25_299.492 m
2007-06-29,1.750,4.745,9.824,24.787,35.303,51.297,63.802,81.289,96.705,110.667,...,202.242,211.885,223.563,236.147,248.117,255.605,275.057,282.504,296.044,299.492
2007-07-20,1.750,4.746,9.824,24.788,35.304,51.298,63.804,81.290,96.707,110.669,...,202.243,211.887,223.563,236.148,248.117,255.607,275.057,282.504,296.043,299.492
2007-08-23,1.749,4.746,9.824,24.788,35.305,51.300,63.807,81.294,96.711,110.673,...,202.247,211.891,223.567,236.154,248.122,255.611,275.061,282.507,296.047,299.495

In [11]:
new_well_df = pd.read_excel(new_data_fpath, index_col=[0])

new_columns = [
    datetime_handle.convert_to_datetime(col) if type(col) == str else pd.to_datetime(col) for col in new_well_df.columns
]

new_well_df.columns = new_columns

new_well_df = new_well_df.T

print(new_well_df.shape)
new_well_df.head(3)

(169, 25)

測點,NO1,NO2,NO3,NO4,NO5,NO6,NO7,NO8,NO9,NO10,...,NO16,NO17,NO18,NO19,NO20,NO21,NO22,NO23,NO24,NO25
2007-06-29,1.750,4.745,9.824,24.787,35.303,51.297,63.802,81.289,96.705,110.667,...,202.242,211.885,223.563,236.147,248.117,255.605,275.057,282.504,296.044,299.492
2007-07-20,1.750,4.746,9.824,24.788,35.304,51.298,63.804,81.290,96.707,110.669,...,202.243,211.887,223.563,236.148,248.117,255.607,275.057,282.504,296.043,299.492
2007-08-23,1.749,4.746,9.824,24.788,35.305,51.300,63.807,81.294,96.711,110.673,...,202.247,211.891,223.567,236.154,248.122,255.611,275.061,282.507,296.047,299.495

In [15]:
mutual_index = new_well_df.index.intersection(old_well_df.index)

old_well_df = old_well_df.loc[mutual_index]
new_well_df = new_well_df.loc[mutual_index]

In [29]:
for old_col, new_col in zip(old_well_df.columns,new_well_df.columns):
    diff_arr = old_well_df[old_col]-new_well_df[new_col]
    mean_diff = np.mean(diff_arr).astype(np.float16)
    if mean_diff != 0 :
        print(old_col, new_col)
    # if not old_well_df[old_col].equals(new_well_df[new_col]):
        # print(old_col, new_col)