In [1]:
from my_packages import *
from appgeopy import *

In [7]:
aoi_shp = gpd.read_file(r"D:\999_STUFF\HONG_SON_2025\AOI.shp")
aoi_shp.crs

<Projected CRS: EPSG:32651>
Name: WGS 84 / UTM zone 51N
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: Between 120°E and 126°E, northern hemisphere between equator and 84°N, onshore and offshore. China. Indonesia. Japan. North Korea. Philippines. Russian Federation. South Korea. Taiwan.
- bounds: (120.0, 0.0, 126.0, 84.0)
Coordinate Operation:
- name: UTM zone 51N
- method: Transverse Mercator
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [8]:
gdf = pd.read_pickle(r"D:\1000_SCRIPTS\003_Project002\20250222_GTWR001\1_PrepareDatasets\5_ElectricityBills\temp\Yunlin_Electricity_within_CRFP.xz")
gdf.to_crs(crs=aoi_shp.crs, inplace=True)
gdf.crs

<Projected CRS: EPSG:32651>
Name: WGS 84 / UTM zone 51N
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: Between 120°E and 126°E, northern hemisphere between equator and 84°N, onshore and offshore. China. Indonesia. Japan. North Korea. Philippines. Russian Federation. South Korea. Taiwan.
- bounds: (120.0, 0.0, 126.0, 84.0)
Coordinate Operation:
- name: UTM zone 51N
- method: Transverse Mercator
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [13]:
aoi_shp

,FID_1,LAYER,NAME,area,geometry
0,0,Layer,3,0.93993,"POLYGON ((228521.244 2618452.786, 228763.973 2..."

In [16]:
# Perform spatial join to select points within the polygon
points_in_polygon = gpd.sjoin(
    gdf, 
    aoi_shp, 
    how='inner',  # Keep only points inside the polygon
    predicate='within'  # Use 'within' spatial relationship
)

points_in_polygon = points_in_polygon.loc[:, gdf.columns]
points_in_polygon.to_file(r"D:\999_STUFF\HONG_SON_2025\wells_in_AOI.shp")

,index,WELL_NO,COUNTRYCITY,TOWN,工作站,灌區,TWD97_X,TWD97_Y,PUMP_HP,W_TUBE_DIA,...,N20240101,N20240201,N20240301,N20240401,N20240501,N20240601,N20240701,eig1,volt,geometry
0,8631,10239655000764,雲林縣,元長鄉,中坑,東崁,182552.00,2616241.000,3.0,5.0,...,152.5,152.5,128.0,128.0,57.5,57.5,0.0,88413230,NaN,POINT (228535.6 2617829.978)
1,8632,10239655000760,雲林縣,元長鄉,中坑,東崁,182659.00,2616348.000,3.0,5.0,...,68.0,68.0,120.5,120.5,92.5,92.5,0.0,88413224,NaN,POINT (228644.149 2617935.527)
2,8633,10239655014944,雲林縣,元長鄉,中坑,東崁,182683.00,2616340.000,3.0,5.0,...,68.0,68.0,31.0,31.0,83.0,83.0,0.0,88413220,NaN,POINT (228668.048 2617927.187)
3,8634,10239655000759,雲林縣,元長鄉,中坑,東崁,182709.00,2616217.000,3.0,5.0,...,8.0,8.0,8.0,8.0,0.0,0.0,0.0,88413218,NaN,POINT (228692.335 2617803.766)
4,8635,10239655000393,雲林縣,元長鄉,中坑,東崁,182784.00,2616332.000,5.0,3.0,...,149.0,149.0,193.5,193.5,153.0,153.0,0.0,88413214,NaN,POINT (228768.982 2617917.767)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,107764,10339633003001,雲林縣,土庫鎮,土庫,卓運,183163.00,2616516.000,7.5,6.0,...,23.5,23.5,25.5,25.5,21.0,21.0,0.0,65892067,NaN,POINT (229150.733 2618096.536)
192,107765,10339633001514,雲林縣,土庫鎮,土庫,卓運,183114.00,2616520.000,5.0,6.0,...,50.5,50.5,71.0,71.0,4.0,4.0,0.0,65892063,NaN,POINT (229101.767 2618101.225)
193,107766,10339633003353,雲林縣,土庫鎮,土庫,卓運,183003.00,2616547.000,3.0,3.5,...,13.5,13.5,77.5,77.5,32.5,32.5,0.0,65892060,NaN,POINT (228991.096 2618129.794)
194,107767,10339655000726,雲林縣,元長鄉,中坑,東子茂,182551.00,2616613.000,2.5,3.0,...,30.5,30.5,28.0,28.0,25.5,25.5,0.0,65891933,NaN,POINT (228539.815 2618202.162)
195,116176,10339633003893,雲林縣,土庫鎮,土庫,卓運,183044.77,2616548.678,3.0,4.0,...,101.5,101.5,161.5,161.5,60.0,60.0,0.0,65892059,NaN,POINT (229032.908 2618130.887)