In [2]:
from my_packages import *
from appgeopy import *

In [3]:
df = pd.read_pickle(r"20250416_GWR_InputData_CUMDISP_MLCW_InSAR.xz")
df["All_Layer"] = df.index.map(df.loc[:, [f"Layer_{i}" for i in range(1,5)]].sum(axis=1))
df["monthly"] = df["time"].dt.to_period("M")
df["monthly"] = df["monthly"].sub(df["monthly"].iloc[0]).apply(lambda x: x.n) 
df.head(5)

,time,STATION,X_TWD97,Y_TWD97,Layer_1,Layer_2,Layer_3,Layer_4,CUMDISP,All_Layer
0,2016-05-01,ANHE,179539.204623,2.602035e+06,-34.0,-91.0,-13.0,-2.910339e-11,-28.730854,-138.0
1,2016-05-01,BEICHEN,178859.958807,2.608229e+06,-9.0,-41.0,-23.0,-6.000000e+00,-33.386893,-79.0
2,2016-05-01,CANLIN,173088.151033,2.608157e+06,-8.0,-55.0,-56.0,-1.700000e+01,-43.787620,-136.0
3,2016-05-01,DONGGUANG,175783.144962,2.616755e+06,-34.0,-88.0,-94.0,-4.000000e+00,-38.043834,-220.0
4,2016-05-01,ERLUN,190429.148778,2.629865e+06,-20.0,-24.0,-21.0,-5.000000e+00,-22.644068,-70.0

0       2016-05
1       2016-05
2       2016-05
3       2016-05
4       2016-05
         ...
2129    2021-12
2130    2021-12
2131    2021-12
2132    2021-12
2133    2021-12
Name: time, Length: 2134, dtype: period[M]

In [31]:
df.to_csv("20250416_GWR_InputData_CUMDISP_MLCW_InSAR.csv", index=False)

remove_stations = ["JIANYANG", "HAIFENG"]

df.query("STATION not in @remove_stations")

df[df["Layer_4"].isnull()]["STATION"].unique()

[array([ -34.,   -9.,   -8., ..., -182.,  -22., -216.]),
 array([ -91.,  -41.,  -55., ..., -187.,  -37., -302.]),
 array([ -13.,  -23.,  -56., ..., -182.,  -56., -362.]),
 array([-2.91033864e-11, -6.00000000e+00, -1.70000000e+01, ...,
        -6.00000000e+00, -2.10000000e+01, -1.29000000e+02])]