In [1]:
import pandas as pd

In [4]:
fpath = "20250504_GTWR_InputData_MLCW_InSAR_Layer_1.csv"
df = pd.read_csv(fpath)
df = df.drop(df.columns[0], axis=1)
pointkey_arr = [f"X{int(x*1000)}Y{int(y*1000)}T{str(t).zfill(3)}" for x,y,t in zip(df["X_TWD97"], df["Y_TWD97"], df["monthly"])]

,STATION,X_TWD97,Y_TWD97,monthly,time,Layer_1,CUMDISP
0,BEICHEN,178859.958807,2.608229e+06,1,2016-06-01,0.0,-30.930160
1,BEICHEN,178859.958807,2.608229e+06,2,2016-07-01,0.0,-43.950703
2,BEICHEN,178859.958807,2.608229e+06,3,2016-08-01,-2.0,0.502924
3,BEICHEN,178859.958807,2.608229e+06,4,2016-09-01,0.0,2.274301
4,BEICHEN,178859.958807,2.608229e+06,5,2016-10-01,1.0,-10.820158
...,...,...,...,...,...,...,...
1909,ZHUTANG,191944.074820,2.639635e+06,62,2021-07-01,-12.0,-68.088895
1910,ZHUTANG,191944.074820,2.639635e+06,63,2021-08-01,-12.0,-114.067739
1911,ZHUTANG,191944.074820,2.639635e+06,64,2021-09-01,-12.0,-93.733414
1912,ZHUTANG,191944.074820,2.639635e+06,65,2021-10-01,-14.0,-93.758360
1913,ZHUTANG,191944.074820,2.639635e+06,66,2021-11-01,-14.0,-112.185705